<footer class="custom-footer">
  <div class="footer-container">
    <img src="/src/assets/eletromidia-logo-depto-projetos.svg" width="48" alt="Logo Eletromidia" />
    <p>© 2025 Departamento de Projetos — Eletromidia</p>
    <nav class="footer-links">
      <a href="https://intercomelt.netlify.app/">Intercomelt</a>
      <a href="https://diagnostico-rmc-boe-porto-alegre.netlify.app/">Diagnóstico RMC</a>
      <a href="https://github.com/withastro/starlight">GitHub</a>
    </nav>
  </div>
</footer>
