---
import Footer from '../components/Footer.astro';
import { Content } from '@astrojs/starlight/components';
---

<html lang="pt-br">
  <body class="sl-body">
    <Content />
    <Footer />
  </body>
</html>
